*.log
*.pem
*.tsbuildinfo
.DS_Store
.DS_Store
.idea/
.next/
.pnp.js
.turbo/
.vercel/
/.pnp
coverage/
dist/
node_modules/
out/

.env
.env.development.local
.env.local
.env.production.local
.env.test.local

*.swo
*.swp
*.~undo-tree
*~
.\#*
\#*\#

.sentryclirc
