@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --logo-fill: #06090b;
}

html[data-theme='dark'] {
  --logo-fill: #fff;
}

@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

ol,
ul,
menu {
  list-style: inherit;
}

.CodeMirror {
  height: auto !important;
  border-radius: 6px;
}

@layer base {
    :root {
	--black: 17, 18, 19;
	--dark: 25, 29, 31;
	--light: 243, 246, 248;
	--white: 255, 255, 255;
	--error: 199, 62, 89;
	--valid: 57, 166, 153;
	--brand: 77, 76, 185;
	--active: 87, 86, 213;
    }

    .dark {
	--white: 17, 18, 19;
	--light: 25, 29, 31;
	--dark: 243, 246, 248;
	--black: 255, 255, 255;
	--error: 199, 62, 89;
	--valid: 57, 166, 153;
	--brand: 95, 94, 255;
	--active: 77, 76, 185;
    }

    .hero-text {
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 28px;
	color: rgba(var(--dark, 1));
    }

    .header-text {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: rgba(var(--dark), 1);
    }

    .title-text {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: rgba(var(--dark), 1);
    }

    .primary-text {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: rgba(var(--dark), 0.95);
    }

    .body-text {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(var(--dark), 0.95);
    }

    .button-text {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: rgba(var(--white), 1);
    }

    .link-text {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: rgba(var(--dark), 0.95);
    }

    .secondary-text {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: rgba(var(--dark), 0.75);
    }

    .caption-text {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: rgba(var(--dark), 0.6);
    }
}
