.fadeIn {
    animation-duration: 0.18s;
    animation-name: animate-fade-in;
    animation-fill-mode: backwards;
}

@keyframes animate-fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}