@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --logo-fill: #06090b;
}

html[data-theme='junoDark'] {
  --logo-fill: #fff;
}

@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

ol,
ul,
menu {
  list-style: inherit;
}

.CodeMirror {
  /* Find better solution to global CSS for CodeMirror component */
  height: auto !important;
  border-radius: 6px;
}
